<!DOCTYPE html>
<html>
<head>
  <title>POSTing data to Express</title>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<header>
  <h2 class="header-title">Form with method set to GET</h2>
</header>