<body>
  <%- include('includes/header') %>

  <main>
    <h1>From with method set to POST</h1>
    <div class="flex-container">
      <form class="formField" action="/form-submit" method="post">
        <div class="inputField">
          <span class="input-text">Artist Name</span>
          <input type="text" name="artist-name" class="text-field">
        </div>
        <div class="inputField">
          <span class="input-text">Country</span>
          <input type="text" name="country" class="text-field">
        </div>
        <div class="submit-container">
          <div class="spacer"></div>
          <input class="submit-button" type="submit">
        </div>
      </form>
    </div> <!-- .flex-container -->
  </main>

  <%- include('includes/footer') %>
</body>
</html>