<body>
  <%- include('includes/header') %>

  <main>
    <form action="/form-submit">
      <div class="formField">
        <span>Artist Name</span>
        <input type="text" name="artist-name">
      </div>
      <div class="formField">
        <span>Country</span>
      <input type="text" name="country">
      </div>
      <input type="submit">
    </form>
  </main>

  <%- include('includes/footer') %>
</body>
</html>